* {
	box-sizing: border-box;
	border: 1px solid green;
}
.main {
	padding: 0;
}
.uppercase {
	text-transform: uppercase;
}
hr {
	border-top: 2px solid #eb304d;
	width: 200px;
}
.header {
	background-image: url(https://images.pexels.com/photos/9786/pexels-photo.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-size: cover;
	padding: 0;
	z-index: 2;
	margin: 0;
	position: relative;	
	color: #fff;
}
.navbar-default {
	background-color: rgba(0,0,0,0);
	border: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #fff;
}
.companyname span {
	color: #eb304d;
}
.show-more {
	padding: 20px;
}
.red-line {
	width: 100%;
	height: 25px;
	transform: skewY(-0.7deg);
	background: #eb304d;
	padding: 0;
	margin-top: -15px;
	margin-bottom: 20px;
}
.fa-play-circle-o {
	font-size: 24px;
}
.about-us {
	background-color: #F0F0F0;
	padding: 0;
}
.about-us-video button {
	border-color: #F0F0F0;
	border-style: none;
	background: #F0F0F0;
}
.about-us-video button:hover {
	background: #C1C1C1;
	border-radius: 10%;
}
.services-icons .row {
	display: flex;
	
}
.icons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 30px 0;
}
.icons i {
	padding: 30px;
	border: 1px solid #999;
	border-radius: 50%;
	font-size: 24px;
	color: #999;
}
.icons p {
	padding: 20px;
}
.opinions {
	padding: 30px 0;
	background-image: url(https://images.pexels.com/photos/9786/pexels-photo.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-size: cover;
	background-position: center;
	color: #FFF;
}
.carousel-control.right, .carousel-control.left {
	background-image: none;
}
.boxes {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	padding: 30px 5px;
}
.product-box {
	width: 20%;
}
.price-box {
	background-color: #ccc;
	position: relative;
	z-index: 1;
	padding: 10px;
}
.product-type {
	padding: 10px;
	background-color: #F0F0F0;
	border-radius: 45px;
	width: 80%;
	top: -20px;
	bottom: 20px;
	margin: 0 auto;
	position:relative;
	z-index: 2
}
.product-type p {
	margin-bottom: 0;

	
}







/*
	<div class="container">
			<div class="boxes row">
				<div class="product-box">
					<div class="price-box">
					</div>
					<div class="product-type">
					</div>
					<p>5 Projects<br>200MB Storage<br>Notification settings<br>Password protection
					</p>
					<button class="btn btn-default btn-danger uppercase">Buy now</button>
				</div>
				<div class="product-box">
					<div class="price-box">
					</div>
					<div class="product-type">
					</div>
					<p>5 Projects<br>200MB Storage<br>Notification settings<br>Password protection
					</p>
					<button class="btn btn-default btn-danger uppercase">Buy now</button>
				</div>
*/